<section class="wrapper style5">
<div class="inner">

<section>
    <h4>Want to get in contact with me?</h4>
    <form method="post" action="https://formspree.io/xoqneqky">
        <div class="row gtr-uniform">
            <div class="col-6 col-12-xsmall">
                <input type="text" name="name" id="demo-name" value="" placeholder="Name" />
            </div>
            <div class="col-6 col-12-xsmall">
                <input type="email" name="_replyto" id="demo-email" value="" placeholder="Email" />
            </div>
            
            <div class="col-12">
                <textarea name="demo-message" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
            </div>
            <div class="col-12">
                <ul class="actions">
                    <li><input type="submit" value="Send" class="primary" /></li>
                    <li><input type="reset" value="Reset" /></li>
                </ul>
            </div>
        </div>
    </form>
</section>
</div>
</section>
