
				<!-- Header -->
					<header id="header" class="alt">
						<h1><a id="img-link" href="index.html"><img id="img-link" src="{{ site.baseurl }}/images/logo.png" alt="H. Plucas" height="46" width="140" ></a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											<li><a href="{{ site.baseurl }}/index.html">Home</a></li>
											<li><a href="{{ site.baseurl }}/cv.html">CV</a></li>
											<li><a href="{{ site.baseurl }}/elements.html">Elements</a></li>
											<!--
											<li><a href="{{ site.baseurl }}/generic.html">Generic</a></li>										
											-->
											<!-- POSTS
											{% for post in site.posts %}
											<li>
											  <a href="{{ post.url }}">{{ post.title }}</a>
											</li>
										  	{% endfor %}
											-->
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>